/* Hide "More Tweets" */
:has(head > link[rel=preconnect][href="//t.co"]) [data-testid="cellInnerDiv"]:has(h2+div) {
	display: none !important;
}

/* Hide "More Tweets" */
:has(head > link[rel=preconnect][href="//t.co"]) [data-testid="cellInnerDiv"]:has(h2+div) ~ * {
	display: none !important;
}

/* Hide "Trending" */
:has(head > link[rel=preconnect][href="//t.co"]) section:has(> [aria-label="Timeline: Trending now"]) {
	display: none !important;
}

/* Hide "Impression counter" */
:has(head > link[rel=preconnect][href="//t.co"]) [data-testid="tweet"] div:has(> a[href$="/analytics"]) {
	display: none !important;
}

/* Hide "Twitter Blue Promo" */
:has(head > link[rel=preconnect][href="//t.co"]) [href="/i/twitter_blue_sign_up"] {
	display: none !important;
}

/* Hide ads */
:has(head > link[rel=preconnect][href="//t.co"]) [data-testid="cellInnerDiv"]:has([data-testid="placementTracking"]) {
	display: none !important;
}
